<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/after.css">
    <title>Document</title>
</head>
<body>
    <div class="main">
        <h1>PREDICTION</h1>
        {%if data== 0%}
        <h1>Iris-setosa</h1>
        {%elif data== 1%}  
        <h1>Iris-versicolor</h1>
        {%else%}
        <h1>Iris-virginica</h1>
        {%endif%}
        <a href="/">go back to home page</a>
    </div>
</body>
</html>